
<div class="mag-breadcrumb py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ajout d'un poste</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Video Submit Area Start ##### -->
<div class="video-submit-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Video Submit Content -->
                <div class="video-submit-content mb-50 p-30 bg-white box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Submit your post</h5>
                    </div>

                    <div class="video-info mt-30">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="upload-file">Upload Your File</label>
                                <input type="file" class="form-control-file" id="upload-file">
                            </div>
                            <div class="form-group">
                                <label for="upload-file">poste  Title</label>
                                <input type="text" class="form-control" name="video-name">
                            </div>
                            <div class="form-group">
                                <label for="upload-file">poste Description</label>
                                <textarea name="video-description" class="form-control" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="upload-file">Tags*</label>
                                <input type="text" class="form-control" name="video-tags">
                            </div>
                            <div class="form-group">
                                <label for="upload-file">Video Catagory</label>
                                <select name="video-catagory" class="form-control">
                                    <option value="actualite ">Actualité  </option>
                                    <option value="sport    ">Sport </option>
                                    <option value="broadcast">broadcast</option>
                                    <option value="trending ">Tendence </option>
                                 
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="upload-file">poste  Language</label>
                                <select name="video-language" class="form-control">
                                    <option value="fr">français</option>
                                    <option value="ar">arabe</option>
                                   
                                </select>
                            </div>
                            <button type="submit" class="btn mag-btn mt-30"><i class="fa fa-cloud-upload"></i> Upload </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>